body{
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.001rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: aquamarine;

    div{
        height: "90%";
        display: 'flex';
        align-items: 'center';
        flex-direction: 'column';
        gap: '2vh';
        padding: '2vh';
    }
}